[submodule "profileCard"]
	path = profileCard
	url = https://github.com/semonHany-hub/profile-Card
[submodule "counter"]
	path = counter
	url = https://github.com/semonHany-hub/couter.git
[submodule "simple-ToDo"]
	path = simple-ToDo
	url = https://github.com/semonHany-hub/simple-ToDo.git
[submodule "stopWatch"]
	path = stopWatch
	url = https://github.com/semonHany-hub/stop-watch.git
[submodule "guessTheNumber"]
	path = guessTheNumber
	url = https://github.com/semonHany-hub/guess-the-number.git
[submodule "Tic-Tac-Toe"]
	path = Tic-Tac-Toe
	url = https://github.com/semonHany-hub/Tic-Tac-Toe.git
[submodule "dynamicFilterList"]
	path = dynamicFilterList
	url = https://github.com/semonHany-hub/dynamic-filter-list.git
[submodule "paper-scissors-rock"]
	path = paper-scissors-rock
	url = https://github.com/semonHany-hub/paper-scissors-rock.git
