[submodule "profileCard"]
	path = profileCard
	url = https://github.com/semonHany-hub/profile-Card
[submodule "counter"]
	path = counter
	url = https://github.com/semonHany-hub/couter.git
[submodule "simple-ToDo"]
	path = simple-ToDo
	url = https://github.com/semonHany-hub/simple-ToDo.git
